body{
    font-family: Arial;
    background:#f4f6f8;
    text-align:center;
}

table{
    width:80%;
    margin:20px auto;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:12px;
    border:1px solid #ccc;
}

th{
    background:#1e3a8a;
    color:white;
}

tr:hover{
    background:#f1f5f9;
}

h1{
    color:#1e3a8a;
}
