body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f7fa;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111827;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav button {
  background: #2563eb;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #2563eb, #9333ea);
  color: white;
}

.events-section {
  padding: 40px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}
.nav-btn {
  background: #2563eb;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.register-btn {
  background: #9333ea;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.modal-content input:focus {
  border-color: #2563eb;
  outline: none;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.primary-btn:hover {
  background: #1d4ed8;
}

.switch-text {
  margin-top: 10px;
  font-size: 14px;
}

.switch-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}

.close-btn {
  margin-top: 15px;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
}

select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:6px;
  border:1px solid #ccc;
}